:root {
    --col-bg: #fff;
    --col-text: #000;

    --col-nav-bg: #F9F9F9;
    --col-nav-border: #e4e4e4;
    --col-nav-bg-hover: #ebebeb;
    --col-standard-border: #d9d9d9;
    --col-emphasis-border: #a3a3a3;

    --col-message-bubble-bg: #f9f9f9;
    
    --col-nav-link: #4f4f4f;
    --col-nav-link-hover: #2e2e2e;

    --col-active: #0d6efd; /* active state */
}

body {
    background-color: var(--col-bg);
    color: var(--col-text);
}

* {
    font-family: "Inter Variable", "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.full-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
}

.full-center-blur-behind {
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999998;
}

body:has(.full-center-blur-behind) {
    overflow: hidden;
    user-select: none;
}

.app-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 0 1fr;
    transition: grid-template-columns 0.3s ease;
}

.app-container:has(.navbar-open) {
    grid-template-columns: var(--navbar-width) 1fr;
}

.app-screen {
    z-index: 1000;
}

.d-flex-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
}

.landing-page-logo {
    height: 70px;
    user-select: none;
    pointer-events: none;
    max-width: calc(60vw - var(--navbar-width));
    margin-bottom: 25px;
}

.landing-page-prompt-box-outer {
    display: flex;

    width: 800px;
    min-width: 400px;
    max-width: calc(65vw - var(--navbar-width));
 
    outline: 1px solid var(--col-standard-border);
    padding-left: 10px;

    border-radius: 15px;

    margin-left: auto;
    margin-right: auto;
}

.landing-page-prompt-box {
    resize: none;
    width: 100%;
    height: 100%;
    border: none;
    outline: none !important;

    font-size: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.landing-page-title {
    margin-bottom: 25px;
}

.landing-page-prompt-box-btn-ol { /* when one-line, TODO: change on type for multi-line */
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    margin: 6px;
    height: calc(53px - 12px);
    border: none;
    background: black;
    outline: 2px solid transparent;
    outline-offset: 3px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.landing-page-prompt-box-btn-ol:hover {
    background: var(--col-nav-link-hover);
    cursor: pointer;
}

.landing-page-prompt-box-btn-ol:active {
    transform: scale(0.97);
}

.landing-page-prompt-box-btn-ol:focus-visible {
    transform: scale(0.92);
    outline: 2px solid rgb(0, 0, 0, 0.65);
    outline-offset: 3px;
}

.landing-page-prompt-under-box {
    text-align: left;
    margin-top: 5px;

    margin-left: auto;
    margin-right: auto;

    min-width: 400px;
    max-width: calc(65vw - var(--navbar-width));
}

.landing-page-prompt-model-select-btn {
    display: flex;
    align-items: center;

    gap: 5px;
    cursor: pointer;
    user-select: none;
    
    max-width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin: 0;
    padding: 0;
    border: none;
    background: none;

    font-size: 16px;
}

.landing-page-prompt-model-select-btn-selected-name { /* surely theres a better name */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.landing-page-prompt-model-select-btn:hover {
    color: var(--col-nav-link-hover);
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #787878;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.us-none {
    user-select: none;
}

.ul-none-h {
    text-decoration: none;
}

.ul-none-h:hover {
    text-decoration: underline;
}