@media only screen and (max-width: 600px) {
    .landing-page-prompt-box-outer, .landing-page-prompt-under-box {
        width: 80vw;
        max-width: none;
        min-width: 0;
    }

    .navbar-open {
        width: 100vw !important;
    }

    .landing-page-title {
        margin-bottom: 15px;
    }

    .model-select-dialog {
        position: fixed !important;
        top: auto !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        bottom: 0px !important;
        width: 100vw !important;
        border-radius: 0 !important;
        border-top-left-radius: 15px !important;
        border-top-right-radius: 15px !important;
        margin: 0 !important;
        padding: 15px !important;
        border-bottom-color: transparent !important;
        border-left-color: transparent !important;
        border-right-color: transparent !important;

        height: 85vh !important;
    }

    .conversation-no-messages-placeholder h1 {
        font-size: 38px;
        font-weight: bold;
    }

    .app-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 600;
    }
    
    .no-mobile {
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    .no-desktop {
        display: none;
    }
}
