@media only screen and (max-width: 600px) {
    .homepage-chat-inner {
        width: 90%;
    }
    
    .chat-message-user, .chat-message-user .chat-message-content {
        max-width: 100%;
        width: 100% !important;
    }

    .chat-area-input-container {
        border-color: var(--col-emphasis-border);
        width: calc(100% - calc(10px*2));
        margin-left: 10px;
        margin-right: 10px;
    }
    
    body:has(.nav-outer[data-nav-hidden="false"]) .nav-outer-top-in-nav-end {
        display: none;
    }

    .settings-page-nav[data-settingsnav-hidden="false"] > .settings-page-content {
        display: none;
    }

    .settings-page-nav[data-settingsnav-hidden="true"] {
        display: none;
    }

    .settings-page-mobile-close-btn {
        display: flex;
    }

    .settings-opener { /* actually settings NAV opener oops */
	    display: flex;
    }

    body:has(.settings-page-nav[data-settingsnav-hidden="false"]) .settings-opener {
        display: none;
    }
}