:root {
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

p {
	margin: 0;
	padding: 0;
}

* {
	font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0;
	background: var(--col-body-bg);
	color: var(--col-text);
	font-size: 16px;
}

#app {
	min-height: 100vh;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.h-100v {
	height: 100vh;
}

.page-container {
    margin: 70px;
}

.d-none {
	display: none;
}

.d-none-important {
	display: none !important;
}

.input-form { /* not used on navbar or chat input, // TODO: custom ones */
	background: var(--col-body-bg);
	border: 1px solid var(--col-emphasis-border);
	border-radius: 3px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
}

.m-0 {margin:0;}
.p-0 {padding:0;}

.text-danger {
	color: #dc3545;
}

.btn-full {
	width: 100%;
}

.btn {
	border-radius: 3px;
	border: none;
	height: 40px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	font-size: 16px;
}

.btn-primary {
	background: var(--col-btn-primary);
	color: #fff;
	transition: 0.3s;
	cursor: pointer;
}

.btn-primary:hover {
	background: var(--col-btn-primary-hover);
}

.us-none {
	user-select: none;
}