:root {
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

p {
	margin: 0;
	padding: 0;
}

* {
	font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0;
	background: var(--col-body-bg);
	color: var(--col-text);
	font-size: 16px;
}

#app {
	min-height: 100vh;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.page-container {
    margin: 70px;
}

.d-none {
	display: none;
}

.d-none-important {
	display: none !important;
}

.input-form { /* not used on navbar or chat input, // TODO: custom ones */
	background: var(--col-body-bg);
	border: 1px solid var(--col-emphasis-border);
	border-radius: 3px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
	width: 100%;
}

.m-0 {margin:0;}
.p-0 {padding:0;}
.text-danger { color: #dc3545; }
.us-none { user-select: none; }
.h-100 { height: 100% !important; }
.w-100 { width: 100%; }
.h-100v { height: 100vh; }
.w-100v { width: 100vw; }
.square { aspect-ratio: 1 / 1; }

.homepage-chat-container {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.homepage-chat-inner {
	max-height: 90vh;
	width: 50%;
	overflow-y: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.homepage-logo {
	height: 65px;
	user-select: none;
	pointer-events: none;
	margin-bottom: 20px;
}

.homepage-input-text-flex {
	display: flex;
	align-items: end;
	justify-content: center;
	width: 100%;
	padding: 7px;
	gap: 5px;

	border-radius: 15px;
	border: 1px solid var(--col-standard-border);	
}

.homepage-input-submit {
	border-radius: 15px !important;
}

.homepage-input-textarea-outer {
	display: flex;
	align-items: center;
	width: 100%;
}

.homepage-input-textarea {
    width: 100%;
    resize: none;
    border: none;
    vertical-align: middle;
    padding: 0;
    min-height: 40px;
    max-height: 200px;
    font-size: 20px;
    line-height: 40px;
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 15px;
    overflow-y: auto;
}

.homepage-input-submit {
	height: 45px !important;
}