:root {
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

p {
	margin: 0;
	padding: 0;
}

* {
	font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0;
	background: var(--col-body-bg);
	color: var(--col-text);
	font-size: 16px;
}

#app {
	min-height: 100vh;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.page-container {
    margin: 70px;
}

.d-none {
	display: none;
}

.d-none-important {
	display: none !important;
}

.input-form { /* not used on navbar or chat input, // TODO: custom ones */
	background: var(--col-body-bg);
	border: 1px solid var(--col-emphasis-border);
	border-radius: 3px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
	width: 100%;
}

.m-0 {margin:0;}
.p-0 {padding:0;}
.text-danger { color: #dc3545; }
.us-none { user-select: none; }
.h-100 { height: 100% !important; }
.w-100 { width: 100%; }
.h-100v { height: 100vh; }
.w-100v { width: 100vw; }
.square { aspect-ratio: 1 / 1; }

.homepage-chat-container {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.homepage-chat-inner {
	max-height: 90vh;
	width: 50%;
	overflow-y: visible;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.homepage-logo {
	height: 65px;
	user-select: none;
	pointer-events: none;
	margin-bottom: 20px;
	max-width: 100%;
	object-fit: contain;
}

.icon-fill {
	font-variation-settings:
		'FILL' 1;
}

.homepage-input-text-flex, .chatpage-input-text-flex {
	display: flex;
	align-items: end;
	justify-content: center;
	width: 100%;
	padding: 7px;
	gap: 5px;

	border-radius: 15px;
	border: 1px solid var(--col-standard-border);	
	background: var(--col-body-bg);
}

.chatpage-input-text-flex {

}

.homepage-input-submit {
	border-radius: 15px !important;
}

.homepage-input-textarea-outer {
	display: flex;
	align-items: center;
	width: 100%;
}

.homepage-input-textarea {
    width: 100%;
    resize: none;
    border: none;
    vertical-align: middle;
    padding: 0;
    min-height: 40px;
    max-height: 200px;
    font-size: 20px;
    line-height: 40px;
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 15px;
    overflow-y: auto;
}

.homepage-input-submit {
	height: 45px !important;
}

.homepage-chat-input-under {
    width: 100%;
    text-align: left;
    position: relative;
	user-select: none;
	font-size: 16px;
}

.model-selector-button {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	color: var(--col-text-out-of-focus);
	text-decoration: none;
	transition: 0.3s;
	position: relative;
}

.model-selector-button:hover {
	color: var(--col-text);
}

.model-selector-list {
	width: 400px;
	height: 250px;
	max-width: 100%;
	
	position: absolute;
	bottom: 35px;
	left: 0;
	transition: 0.1s;
	transform: translateY(30px);
	background: var(--col-body-bg);
	border: 1px solid var(--col-standard-border);
	border-radius: 10px;
	box-shadow: 0 2px 10px var(--col-standard-border);
	opacity: 0.0;
	pointer-events: none;

	overflow-x: hidden;
	overflow-y: auto;

	padding: 10px 15px;
}

.model-selector-list-open {
	transform: translateY(0px);
	opacity: 1.0;
	pointer-events: auto;
}

.model-selector-list-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 5px;
}

.model-selector-grid-item {
	width: 100%;
	background-color: white;
	border: 1px solid var(--col-standard-border);
	padding: 10px;
	border-radius: 5px;

	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.model-selector-grid-item {
	color: var(--col-text);
	text-decoration: none;
	transition: 0.3s;
}

.model-selector-grid-item:not(.model-selector-item-selected):hover {
	background-color: var(--col-other-bg);
}

.model-selector-grid-item {
	display: flex;
	align-items: center;
	gap: 5px;
}

.model-selector-item-selected {
	background-color: var(--col-other-bg);
}

.chat-area-messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: calc(100% - calc(70px*2));
	
	margin-left: auto;
	margin-right: auto;

    scroll-behavior: smooth;
	scrollbar-width: none;

	max-width: 900px;
}

.chat-message {
	white-space: pre-wrap;
	margin-bottom: 20px;
}

.chat-message:first-child {
	margin-top: 80px;
}

.chat-message-user {
	display: flex;
	justify-content: end;

	white-space: pre-wrap;
}

.chat-message-user .chat-message-content {
	background-color: var(--col-other-bg);
	border: 1px solid var(--col-standard-border);
	padding: 14px 18px;
	border-radius: 10px;
	min-width: 170px;
	display: inline-block;
	
	max-width: 70%;
}

.chat-page {
	font-size: 20px;
	display: grid;
	grid-template-rows: 1fr auto;
}

.chat-area-input-container {
	width: calc(100% - calc(70px*2));
	margin-left: auto;
	margin-right: auto;
	background: var(--col-other-bg);
	border: 1px solid var(--col-standard-border);
	border-bottom: none;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;

	display: flex;
	align-items: center;
	justify-content: center;

	max-width: 900px;
	z-index: 8000;
}

.chat-area-input-container-inner-part {
	width: 100%;
	margin: 15px;
}

.chat-message-model-thought-block {
	margin-bottom: 10px;
	font-style: italic;

	border-left: 2px solid var(--col-standard-border);
	color: var(--col-text-secondary-emphasis);
	padding-left: 15px;
}

.chat-message-model-thinking-placeholder-box {
	align-items: center;
	gap: 10px;
	user-select: none;

	display: inline-flex;

	background: var(--col-other-bg);
	padding: 10px;
	padding-left: 18px;
	padding-right: 18px;
	border-radius: 10px;
	margin-bottom: 10px;

	cursor: pointer;
	transition: 0.3s;

	font-size: 18px;
	border: none;

	position: relative;
}

.chat-message-model-thinking-placeholder-box-opener-floating {
	position: absolute;
	right: -35px;
	opacity: 0.3;
	transition: 0.3s;
}

.chat-message-model-thinking-placeholder-box:hover .chat-message-model-thinking-placeholder-box-opener-floating {
	opacity: 1.0;
}

.chat-message-model-thinking-placeholder-box:hover {
	filter: brightness(0.95);
}

.icon-spin-once {
	rotate: 180deg;
}

.chat-message-message-text-output {
	white-space: pre-wrap;
}